/* Variables */
$blue-1: #4066A5;
$blue-2: #131821;
$gray-1: #6A707B;
$gray-2: #E3E3E4;
$gray-3: #F2F5FA;
$white: #FFFFFF;
$black: #000000;

/* Fonts */
$font-2-2vw: 2.2vw;

/* screen size */
$screen-mobile: 375px;
$screen-desktop: 376px;

/* mixins */
@mixin remove-space {
  margin: 0;
  padding: 0;
}

/* screen sizes */
@mixin screen-mobile {
  @media only screen and (max-width: $screen-mobile) {
    @content
  }
};

@mixin screen-desktop {
  @media only screen and (min-width: $screen-desktop) {
    @content
  }
}
