.header {
  margin-top: 14%;
  text-align: center;

  .navigation {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      font-size: $font-1vw;
      padding-right: 3%;
      color: $gray-1;
    }

    img {
      padding: 1%;
      margin-left: 4%;
      padding-top: 5%;
    }

    #logo-text {
      padding-right: 15%;
      color: $black;
    }
  }
}

.subscription {
  padding: 20%;
  padding-top: 31%;
  padding-bottom: 0;

  h1 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.85vw;
  }

  p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    color: $gray-1;
  }
}

.email-input {
  position: relative;
  width: 97%;
  margin-left: 15%;
  margin-top: 6%;
  height: 6%;
  z-index: 998;zoom: 1.5;;
  border: 0;
  border-left: 0.3vw solid $blue-1;
  padding-left: 1.8vw;
  font-size: 0.6vw;
}

.terms-of-service {
  margin-top: 7%;
  margin-left: 21.5%;
}

input[type="checkbox" i] {
  width: 1.5vw;
  height: 1.5vw;
  -moz-appearance: none;
}

label {
  padding-left: 2%;
  font-family: Arial;
  color: $gray-1;
  font-size: 0.9vw;

  span {
    text-decoration: underline;
    color: $black;
  }
}

.icon-ic_arrow:before {
  position: relative;
  z-index: 999;
  margin-left: 105%;
}

.icon-ic_arrow {
  position: absolute;
  top: 29.2vw;
  left: 34.6vw;
  color: $gray-2;
  font-size: 1vw;
}

.icon-ic-pineapple:before {
  font-size: 2vw;
  padding-right: 2%;
  margin-left: 4%;
}

.icon-ic-youtube:before {
  border: 1px solid $gray-1;
  border-radius: 50%;
}

.icon-ic_twitter:before {
  border: 1px solid $gray-1;
  border-radius: 50%;
}

.icon-ic-instagram:before {
  border: 1px solid $gray-1;
  border-radius: 50%;
}

.icon-ic_facebook:before {
  border: 3px solid $gray-1;
  border-radius: 50%;
  padding: 1%;
  padding-right: 2%;
  padding-left: 2%;
}

.social-icons {
  text-align: center;
}
