.header {
  position: relative;
  top: 4.9vw;
  left: 0.5vw;

  @include screen-mobile {
    top: 1vw;
    left: 0;
  }
}

.navigation {
  @include remove-space;
  text-align: center;

  @include screen-mobile {
    text-align: right;
  }

  li {
    display: inline-block;
    font-size: 0.9vw;
    margin-right: 1vw;
    color: $gray-1;
    font-family: Arial;

    @include screen-mobile {
      font-size: 3.8vw;
      margin-right: 5vw;

      &:last-child {
        margin-right: 2vw;
      }
    }
  }

  #logo {
    margin-right: 5vw;
  }

  .logo-text {
    color: $black;

    @include screen-mobile {
      display: none;
    }
  }

  .icon-ic-pineapple {
    position: relative;
    top: 0.3vw;
    margin-right: 0.5vw;
    font-size: $font-2-2vw;

    @include screen-mobile {
      top: 2.2vw;
      left: -21vw;
      font-size: 10vw;
    }
  }
}

.newsletter {
  position: relative;
  top: 16.2vw;
  left: 20%;
}

.subscription-text-container {
  width: 60%;

  h1 {
    font-family: Georgia;
    font-weight: 400;
    letter-spacing: 0.08vw;
    padding-bottom: 0.2vw;
  }

  p {
    color: $gray-1;
    font-family: Arial;
    line-height: 1.2vw;
  }
}

.email-container {
  input {
    width: 110%;
  }
}
