body {
  @include remove-space;

  .flex-container {
    display: flex;
    height: 100%;

    @include screen-mobile {
      display: block;
    }

    .left-column {
      width: 35.5%;
      background: linear-gradient(180deg, $white 0%, $gray-3 100%);

      @include screen-mobile {
        width: 100%;
      }
    }

    .right-column {
      width: 64.5%;
      background: url("/home/romalds/github/magebit-mid-junior-test/img/image_summer.png");
      background-size: cover;
    }
  }
}
