@charset "UTF-8";
/* Variables */
/* Fonts */
/* screen size */
/* mixins */
/* screen sizes */
.header {
  position: relative;
  top: 4.9vw;
  left: 0.5vw;
}
@media only screen and (max-width: 375px) {
  .header {
    top: 1vw;
    left: 0;
  }
}

.navigation {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media only screen and (max-width: 375px) {
  .navigation {
    text-align: right;
  }
}
.navigation li {
  display: inline-block;
  font-size: 0.9vw;
  margin-right: 1vw;
  color: #6A707B;
  font-family: Arial;
}
@media only screen and (max-width: 375px) {
  .navigation li {
    font-size: 3.8vw;
    margin-right: 5vw;
  }
  .navigation li:last-child {
    margin-right: 2vw;
  }
}
.navigation #logo {
  margin-right: 5vw;
}
.navigation .logo-text {
  color: #000000;
}
@media only screen and (max-width: 375px) {
  .navigation .logo-text {
    display: none;
  }
}
.navigation .icon-ic-pineapple {
  position: relative;
  top: 0.3vw;
  margin-right: 0.5vw;
  font-size: 2.2vw;
}
@media only screen and (max-width: 375px) {
  .navigation .icon-ic-pineapple {
    top: 2.2vw;
    left: -21vw;
    font-size: 10vw;
  }
}

.newsletter {
  position: relative;
  top: 16.2vw;
  left: 20%;
}

.subscription-text-container {
  width: 60%;
}
.subscription-text-container h1 {
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 0.08vw;
  padding-bottom: 0.2vw;
}
.subscription-text-container p {
  color: #6A707B;
  font-family: Arial;
  line-height: 1.2vw;
}

.email-container input {
  width: 110%;
}

body {
  margin: 0;
  padding: 0;
}
body .flex-container {
  display: flex;
  height: 100%;
}
@media only screen and (max-width: 375px) {
  body .flex-container {
    display: block;
  }
}
body .flex-container .left-column {
  width: 35.5%;
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}
@media only screen and (max-width: 375px) {
  body .flex-container .left-column {
    width: 100%;
  }
}
body .flex-container .right-column {
  width: 64.5%;
  background: url("/home/romalds/github/magebit-mid-junior-test/img/image_summer.png");
  background-size: cover;
}

@font-face {
  font-family: "icomoon";
  src: url("../../img/fonts/icomoon.eot?yt85mq");
  src: url("../../img/fonts/icomoon.eot?yt85mq#iefix") format("embedded-opentype"), url("../../img/fonts/icomoon.ttf?yt85mq") format("truetype"), url("../../img/fonts/icomoon.woff?yt85mq") format("woff"), url("../../img/fonts/icomoon.svg?yt85mq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_arrow:before {
  content: "";
}

.icon-ic-youtube:before {
  content: "";
}

.icon-ic_twitter:before {
  content: "";
}

.icon-ic-instagram:before {
  content: "";
}

.icon-ic-pineapple:before {
  content: "";
  color: #4066A5;
}

.icon-ic_facebook:before {
  content: "";
}

/*# sourceMappingURL=stylesheet.css.map */
